html {
    background-color: white;
    background-image: url(fond_ecran2.jpg);
    background-attachment: fixed;
}

body {
    font-family: Arial;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}


.menuElement a {
    color: black; /*START*/
    font-size: 1.2em;
    text-decoration: none;
    background-color: #00000018;
    padding: 0 2px;
}

#content {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding: 20px 10px;
}

image1 {
    height: 200px;
    text-align: center;
    padding-right: 5px;
}


.bold {
    font-weight: bolder;
    font-size: 1.2em;
}

em {
    font-style: italic;
    text-decoration: underline;
}

texte1 {
    color: red;
    font-size: 2em;
}

h1 {
    font-size: 2em;
    text-decoration: underline;
}

}


