html {
    background-color: darkolivegreen;
    background-image: url(fond_ecran.jpg);
    background-attachment: fixed;
}

body {
    font-family: Arial;
    width: 88%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}




.btnPopup{
  background-color: orangered;
  background-image: url(hagrid.jpg);
  padding:8em 2em;
  font-size:14pt;
  color: #000;
  cursor:pointer;
}
.btnPopup:hover{
  background-color: gainsboro;
}

.overlay{
  position: fixed;
  left:0px;
  top:0px;
  background-color:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  display:none;

}

.popup{
  margin:20% auto;
  width:70%;
  background-color: rgb(228,228,228);
  border-radius:5px;
  box-shadow:15px 20px 0 rgba(0,0,0,0.5);
  padding:1em;
}

.btnClose{
  float: right;
  cursor:pointer;
}